@charset "utf-8";
/* CSS Document */

body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,td,figure{margin:0;padding:0;} 
body{font:12px  "宋体"; word-wrap:break-word;}
a,u,s,del{color:#666;text-decoration:none} 
fieldset ,a img,.bor0,input{border:0;}
i,em,b{font-style:normal;font-weight:100;}
li{list-style:none;}
img{vertical-align:middle;}
table{border-collapse:collapse;}
textarea{resize:none;}
mark{background:none;}
.ind2{text-indent:2em;}


/*文本溢出出现省略号*/
.over{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/*图片垂直对齐*/
.valign:after{content:"";display:inline-block;width:0;height:100%;vertical-align:middle;}
/*文字垂直居中 当100%显示时,line-height:100%表示文字的1倍间距*/
.valign img{vertical-align:middle;}

.clear{zoom:1;}/*解决IE8不支持伪选择符:after*/
.clear:after{content:"";display:block;clear:both;}/*解决高度塌陷*/
.clear:before{content:"";display:table;}/*解决margin-top传递*/